{% extends 'base.html' %}
{% block seccionCambiable %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
    <label for="nombre">Nombre</label>
    <input type="text" name= "nombre" required>
     </div>
     <div class="mb-3">
    <label for="direccion">direccion</label>
    <input type="text" name= "apellido" required>
     </div>
     <div class="mb-3">
    <label for="email">Email</label>
    <input type="email" name= "email" required>
    </div>
    <input type="submit" value="Enviar">
</form>
{% endblock seccionCambiable %}
